@import "../../variables.scss";

.arrowbtn {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    transition:  all .5s ease;
    @include rowflex(center,center);
    mix-blend-mode: difference;
    &:hover {
        opacity: .5;
    }
    .arrowbtn__text {
        @include fontRegular(1.5em, 1em, $neutral-100);
        font-style: italic;

        @include breakpoint (mobileonly){
            @include fontRegular(1.2em, 1em, $neutral-100);
        }
    }

    img {
        margin-left: 10px;
    }
}